@font-face {
  font-family: "Font-Bold";
  src: url("/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Font-Regular";
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Font-Medium";
  src: url("/fonts/Roboto-Medium.ttf");
  font-weight: 700;
}
