.feedback {
  margin-top: 5rem;

  &__content {
    display: flex;
    flex-flow: row;

    @media (max-width: 1090px) {
      flex-flow: column;
      gap: 4rem;
    }
  }

  &__contactsPart {
    display: flex;
    flex-flow: column;
  }

  &__title {
    font-family: "Font-Bold";
    font-size: 5rem;
    letter-spacing: 3%;
    color: #2d2d2d;
    max-width: 635px;
    line-height: 1.5;

    &--accent {
      color: #dc9046;
    }

    @media (max-width: 1110px) {
      font-size: 4rem;
    }

    @media (max-width: 570px) {
      font-size: 3rem;
    }
  }

  &__contacts {
    display: flex;
    flex-flow: row;
    gap: 7rem;
    margin-top: 10.5rem;

    @media (max-width: 1170px) {
      gap: 1rem;
    }

    @media (max-width: 1110px) {
      margin-top: 2rem;
    }

    @media (max-width: 570px) {
      flex-flow: column;
    }
  }

  &__contact {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2rem;

    &-text {
      text-decoration: none;
      font-size: 2.5rem;
      font-family: "Font-Regular";
      color: #2d2d2d;
      letter-spacing: 3%;
      transition: color 0.3s ease;

      &:hover {
        color: #868686;
      }
    }

    @media (max-width: 570px) {
      & img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
