.burger {
  width: 4rem;
  height: 4rem;
  display: none;
  border: none;
  background-color: transparent;

  @media (max-width: 780px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
  }

  span {
    height: 2px;
    background: #2d2d2d;
    transition: 0.3s;
  }

  &--active {
    span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
