.customDayPicker {
  --rdp-day-font-size: 1.75rem;
  --rdp-day-font-family: "Font-Medium";
  --rdp-weekday-font-size: 1.5rem;
  --rdp-accent-color: #dc9046;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdp-day {
  font-size: var(--rdp-day-font-size);
  font-family: var(--rdp-day-font-family);
}

.rdp-weekday {
  font-size: var(--rdp-weekday-font-size);
}
